@import '../abstracts/mixin';
@import '../abstracts/variables';

.small-arrow {
  @include arrow {
    p {
      width: 1.5rem;
      height: 3rem;
      &::before {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
