@import '../abstracts/mixin';
@import '../abstracts/variables';

.small-arrow {
  @include arrow {
    p {
      width: 1.5rem;
      height: 3rem;
      &::before {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.big-arrow {
  @include arrow {
    p {
      width: 2rem;
      height: 4rem;
      &::before {
        width: 2rem;
        height: 2rem;
        border-top: 0.3rem solid $white;
        border-left: 0.3rem solid $white;
      }
    }
  }
}
