.swiper {
  @include mobile {
    height: 30rem;
  }
  width: 100%;
  height: 60rem;
  position: relative;
  z-index: 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  width: 2rem;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.text-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 50rem;
  opacity: 0;
  margin: auto;
  text-align: center;
  transition: 0.5s;
  z-index: 10;
}

.text-wrap h2 {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.text-wrap p {
  color: var(--white);
  font-size: 4rem;
}
