@import '../abstracts/mixin';

.profile-div {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  cursor: default;
  @include pc {
    width: 35.4rem;
    height: 14rem;
    padding-left: 2.4rem;
  }
}

.profile-user-box {
  display: flex;
  flex-direction: column;
  @include pc {
    margin-left: 4rem;
  }
}

.profile-username {
  display: flex;
  @include pc {
    margin-bottom: 1rem;
    p:first-child {
      font-weight: 500;
    }
    p {
      font-size: 3.2rem;
    }
  }
}
