@import '../abstracts/variables';

.select-container {
  display: flex;
  width: 100%;
  @include pc {
    gap: 3rem;
  }
  @include mobile {
    gap: 2rem;
  }
}
.select {
  @include pc {
    width: 78.6rem;
    height: 6.4rem;
  }
  @include mobile {
    width: 100%;
    height: 5rem;
  }
  border-radius: 1rem;
  box-shadow: inset 0 0 0 0.1rem $light-gray;
  color: $dark-gray;
  &:focus {
    box-shadow: inset 0 0 0 0.1rem $dark-green;
  }
}

.select-mini {
  @extend .select;
  @include pc {
    width: 37.8rem;
  }
  @include mobile {
    width: 100%;
  }
}

.select-long {
  @extend .select;
  width: 100%;
}

.multiple {
  width: 100%;
}

.select-tag {
  background-color: $dark-green;
  color: $white;
}

.slider-title {
  @include pc {
    margin: 2rem 0;
    font-size: 2.8rem;
  }
  @include mobile {
    margin: 1rem 0;
    font-size: 2.2rem;
  }
  font-weight: 500;
}

.ant-select-selection-item,
.ant-select-selection-placeholder {
  @include pc {
    font-size: 2.4rem;
  }
  @include mobile {
    font-size: 2rem;
  }
}
