.find-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-form-wrapper {
  @include mobile {
    width: calc(100% - 4.8rem);
  }

  .inputs-div {
    display: flex;
    flex-direction: column;
    @include pc {
      padding: 4rem;
      border-radius: 1rem;
      box-shadow: inset 0 0 0 0.1rem $light-gray;
      margin-bottom: 6rem;
      .alert-text {
        font-size: 2rem;
      }
    }
    @include mobile {
      margin-bottom: 3rem;
      .alert-text {
        font-size: 1.8rem;
      }
    }
  }
}
