@import '../abstracts/mixin';

/* default info */
.info-div {
  @include pc {
    display: flex;
    flex-direction: column;
  }
}

/* defaultResume  */
.defaultResume-div {
  @include pc {
    display: flex;
    flex-direction: column;
  }
}

.defaultResume-outline {
  border-radius: 1rem;
  height: 23.8rem;
  @include pc {
    width: 37.8rem;
  }
  @include mobile {
    width: 100%;
  }
}

/* common style */
.mypage-div {
  display: flex;
  @include pc {
    justify-content: center;
    margin-bottom: 8rem;
    .mypage-small-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 3rem;
    }
  }
  @include mobile {
    flex-direction: column;
    align-items: center;
    .mypage-mobile-div {
      width: calc(100% - 4.8rem);
    }
  }
}

.mypage-title {
  cursor: default;
  @include pc {
    font-size: 3.6rem;
    font-weight: 500;
  }
  @include mobile {
    font-size: 2.2rem;
    font-weight: 600;
    &.profile-title {
      display: none;
    }
  }
}

.mypage-flexdiv {
  * {
    margin: 0;
  }
  @include pc {
    width: 37.8rem;
    display: flex;
    justify-content: space-between;
    height: 7rem;
  }
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
    margin-bottom: 1rem;
  }
}
