@import '../abstracts/mixin';

/* Verification style */
.signup-veri-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  div:last-child {
    margin-top: 2rem;
    margin-bottom: 25rem;
  }
}

/* text style for Verification & Complete Component */
.signup-text {
  font-weight: 500;
  text-align: center;
  @include pc {
    font-size: 3.2rem;
    margin-bottom: 8rem;
  }
}

/* UserType style */
.signup-type-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;

  @include pc {
    width: 50.2rem;
    height: 15rem;
    padding: 0 4rem;

    div {
      display: flex;
      align-items: center;
      p {
        font-size: 3.2rem;
      }
    }
  }
}

.signup-usertype-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include pc {
    height: 35rem;
    margin-bottom: 21rem;
  }
}

/* Complete style */
.signup-comp-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36.4rem;
}
