@import './variables';

/* responsive web setting */
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($mobile + 1)) {
    @content;
  }
}

/* button common css */
@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  @content;
}
